
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="container">
    <h2 class="mb-4">Eğitim Oluştur</h2>
    <div class="alert alert-success">Yeni Kategori Girişi</div>

    <form method="post" class="form-group">
        <label>Eğitim Adı</label>
        <input type="text" class="form-control mb-2" />


        <label>Eğitim Alt Adı</label>
        <input type="text" class="form-control mb-2" />

        <label>Açıklama</label>
        <input type="text" class="form-control mb-2" />

        <button class="btn btn-primary">Eğitimi Oluştur</button>
    </form>
</div>