
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Gelen Kutusu</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Gönderen</th>
            <th scope="col">Konu</th>
            <th scope="col">Mesajı Aç</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Ali Veli</td>
            <td>Proje</td>
            <td> <a href="#" class="btn-sm btn-warning"><i class=" fa fa-envelope mr-2"></i>Oku</a></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Ahmet Mehmet</td>
            <td>Proje2</td>
            <td> <a href="#" class="btn-sm btn-warning"><i class=" fa fa-envelope  mr-2"></i>Oku</a></td>
        </tr>
    </tbody>
</table>