@model PortfolioProjectNight.Models.Experience
@{
    ViewBag.Title = "UpdateExperience";
    Layout = "~/Views/Admin/Index.cshtml";
}
<form method="post">
    <div class="container">
        <br /><br />
        <input type="hidden" name="ExperienceId" value="@Model.ExperienceId" />
        <div class="alert alert-success"> Deneyim Güncelleme Sayfası</div>
        <label>Yetenek Adı</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        <label>Açıklama</label>
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary btn-block text-center">Güncelle</button>
        <a href="/Experience/ExperienceList" class="btn btn-secondary btn-block text-center">Vazgeç</a>
    </div>
</form>