@model PortfolioProjectNight.Models.Skill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Admin/Index.cshtml";
}
<form method="post">
    <div class="container">
        <br /><br />
        <input type="hidden" name="SkillId" value="@Model.SkillId" />
        <div class="alert alert-success"> Yetenek Güncelleme Sayfası</div>
        <label>Yetenek Adı</label>
        <input type="text" name="SkillName" value="@Model.SkillName" class="form-control" />
        <br />
        <label>Hakimiyet Değeri</label>
        <input type="number" name="Rate" value="@Model.Rate" class="form-control" />
        <br />
        <button class="btn btn-primary btn-block text-center">Güncelle</button>
        <a href="/Skill/SkillList" class="btn btn-secondary btn-block text-center">Vazgeç</a>
    </div>
</form>