@model PortfolioProjectNight.Models.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}

<form method="post">
    <div class="container">
        <br /><br />
        <input type="hidden" name="AboutId" value="@Model.AboutId" />
        <div class="alert alert-success"> Hakkımda Bilgisi Güncelleme Sayfası</div>
        <label>İsim Soyisim</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        <label>Ünvan</label>
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary btn-block text-center">Güncelle</button>
        <a href="/About/AboutList" class="btn btn-secondary btn-block text-center">Vazgeç</a>
    </div>
</form>